@import "common";
/*index*/
//top
.jumbotron {
    min-height: 300px;
    h1 {
        padding-top: 20px;
    }
    h2 {
        font-size: 20px;
        line-height: 30px;
    }
    color: #fff;
    background: #663366;
}
//安全色
.safecolor {
    h1 {
        font-size: 30px;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 1px 2px 1px rgba(0,0,0,0.3);
    }
    .first {
        color: #999;
    }
    .second {
        color: #666;
    }
    .third {
        color: #333;
    }
    .swatch {
        width: 100%;
        height: 100px;
        display: block;
    }
    .col {
        float: left;
        width: 16.6666667%;
        padding: 0 10px;
        h3 {
            margin-top: 10px;
            font-size: 12px;
            >span {
                margin-bottom: 10px;
                display: block;
            }
        }
    }
    //select
    .chzn-select {
        font-size: 16px;
    }
}
@media (max-width:750px) {
    .safecolor {
        .col {
            width: 100%;
            height: 55px;
            float: none;
        }
        h3{
            width: 50%;
            float: left;
            padding-left: 10px;
        }
        .swatch {
            float: left;
            width: 50%;
            height: 100%;
        }
    }
}